/*====================*/
/*General*/
/*====================*/

/*Fonts in general*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Quattrocento Sans', sans-serif;
    /*mix-blend-mode: screen;*/
}


/*Rows*/
.row1 .textContent {
    /*padding: 15px 0px;*/
    /*color: rgba(255, 255, 255, 0.90);*/
    /*background-color: rgba(0, 0, 0, 0.65)*/
}

.row {
    /*150px*/
    padding-top: 200px;
    padding-bottom: 200px;
}

.row1 {
    padding-top: 150px;
}

.row1 {
    /*background-image: url(/images/paper_fibers.png);*/
    background-image: url(/images/background/lighter/lightpaperfibers_lighter.png);
    /*background-image: url(/images/handmadepaper_@2X.png);*/
}


.row2 {
    background-image: url(/images/background/lighter/extra_clean_paper_lighter.png);
}

.row3, .row4, .row5 {
    background-image: url(/images/background/lighter/ricepaper_v3_lighter.png);
}

.row7 {
    background-image: url(/images/background/lighter/exclusive_paper_lighter.png);
}

.row8, .row9, .row10 {
    background-image: url(/images/background/lighter/lightpaperfibers_lighter.png);
}

.row11 {
    background-image: url(/images/background/lighter/extra_clean_paper_lighter.png);
}


footer {
    background-image: url(/images/background/lighter/ricepaper_v3_lighter.png);
    padding-bottom: 85px;
}

.container {
    width: 100%;
}

.container p {
    max-width: 950px;
    margin: 0 auto;
}

.iconNavContainer {
    margin-top: 15px;
}

.iconNavSection p {
    margin: 0 0 10px;
    max-width: none;
}

.iconNav {
    list-style: none;
    padding-bottom: 15px;
}

.iconNav li {
    display: inline;
    padding-right: 20px;
}


.padTop18 {
    padding-top: 18px;
}

.jumbotron {
    background-color: #fff;
}


.textCenterLastJustify {
    text-align: justify;  
    -moz-text-align-last: left; /* Code for Firefox */
    text-align-last: left;
}


/* Row Specific */
/*.row1 {*/
/*    background-image: url("images/girl_stressed.jpg");*/
/*    background-size: 100% auto;*/
/*    background-repeat: no-repeat;*/
/*}*/

/*.row2 {*/
/*    background-image: url("images/sample_pic2.jpg");*/
/*    background-size: 100% auto;*/
/*    background-repeat: no-repeat;*/
/*}*/

/*Quick spacing adjustments*/
.sm-space {
    padding-top: 20px;
}

.md-space {
    padding-top: 50px;
}

.shortBottom {
    padding-bottom: 5px;
}

.shortTop {
    padding-top: 5px;
}

.midSection {
    padding: 0px 0px 35px 0px;
    margin-top: -35px;
    /*background-color: #ccc;*/
}



.painTeamBtns, .strategiesBtns {
    width: 100px;
    margin-top: 10px;
}

.unselectedIcons {
    opacity: 0.35;
    filter: alpha(opacity=35); /* For IE8 and earlier */
}

.selectedIcon {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}



/*NAV*/

/*#mobileNavDownBtn, #mobileNavUpBtn {*/
/*    margin-top: -15px;*/
/*}*/

.navbar-nav>li.mainBtn {
    display: none;
}

.navbar-nav>li {
    float: none; 
}

.navbar-nav {
    float: none;
}

.navbar-nav li {
    text-align: center;
}

/*.fullNav {*/
/*    display: none;*/
/*}*/

.navbar-default {
    border: none;
    background-color: rgba(255,255,255,0.9);
    z-index: 99999;
    -webkit-box-shadow: none;
    box-shadow: none;
    
    -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    -webkit-transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, backdrop-filter;
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
    
    /*border-bottom: 1px solid #d6d6d6;*/
}

/*.navbar-nav {*/
/*    width: 80%;*/
/*    margin: 0 auto;*/
/*    float: none;*/
/*    text-align: center;*/
/*}*/




/*783*/
/*981*/
@media screen and (min-width: 1174px) {
    .navbar-nav {
        width: 60%;
        margin: 0 auto;
        float: none;
        text-align: center;
    }
}



@media screen and (min-width: 892px) {
    .navbar-nav>li.mainBtn {
        display: block !important;
    }
    
    #mobileNavUpBtn, #mobileNavDownBtn {
        display: none;
    }
    
    .navbar-nav .hideMe {
        display: block;
    }
    
    #navBackToTop {
        margin-left: 15px;
    }
    .navbar-nav>li {
        float: left; 
    }
    .fullNav {
        display: block;
    }
    .navbar-nav {
        width: 80%;
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    
    
    
    .navbar {
    margin-bottom: 0;
    }
    .affix {
        top: 0;
        width: 100%;
    }
    
    .affix + .container-fluid {
        padding-top: 237px;
    }
    
    #navBackToTop {
        width: 16%;
    }
    
    #navPainClinics {
        width: 16%;
    }
    
    #navFindClinics {
        width: 16%;
    }
    
    #navSkillsToCope {
        width: 18%;
    }
    
    #navOtherTools {
        width: 15%;
    }
    
    #navContactUs {
        width: 15%;
    }
    
    
    #rowWhoControl {
        padding-top: 150px;
    }
}


#rowWhoControl {
    background-color: #dad9d8;
}

/*#rowPainClinics, .midSection {*/
/*    background-color: #d93a33;*/
/*}*/

#panel_1 {
    margin-top: 50px;
    width: 500px;
}

#panel_2 {
    margin-top: 50px;
    width: 700px;
}

.chrSet {
    width: 150px;
}

.chrAnimations {
    width: 325px;
}

.mainContainer .jumbotron {
    margin-bottom: 0px;
}

.jumbotron.lastElement {
    margin-bottom: 7.5px;
}



#rowFindClinics .form-control {
    width: 200px;
    margin: 0 auto;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5em;
}


#clinicScene {
    margin-top: 100px;
    width: 65%;
    margin-bottom: -50px;
}
